*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #eee;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.header {
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 0;
    background-color: #eee;
    padding:  10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
   
}

.logo{
    width: 100%;
    
}

#header-img {
    max-width: 100%;
   
}

.nav {
   
    width: 100%;
    height: 100%;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    list-style-type: none;
    
}

.nav ul li a {
   text-decoration: none;
   color: black;
   font-size: 1.2em;
}

.formSection {
    margin-top: 10em;
    min-height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

#form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#email {
    width: 80%;
    padding: 12px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow:  inset -3px -3px 3px #bebebe,
    inset 3px 3px 20px #ffffff;
    align-self: center;
}

#submit {
    padding: 7px;
    width: 50%;
    align-self: center;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: -1px -1px 5px rgb(253, 253, 253) ,  1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-weight: 700;
    background: rgba(197, 190, 190,0.5);
}

.container {
  
    margin-top: 2em;
}

#features{
  
    text-align: center;
}

.grid{
    width: 100%;
}

.grid > .desc {
    margin-bottom: 5em ;
}

.desc{
    line-height: 2;
  
}

.icon {
    display: none;
}

#how-it-works{
    width: 100%;
    margin: 5em 0;
}

#video {
    width: 100%;
    max-width: 100%;
}



.product{
    box-shadow: -3px -3px 10px #fff , 3px 3px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 2em auto;
    padding-bottom: 1em ;
}

.product > * {
    text-align: center;
    list-style: none;
    margin-bottom: 2em;
}

.level{
    padding: 1em;
    width: auto;
    font-size: 18px;
    background: rgba(197, 190, 190,0.3);
  
    letter-spacing: 2px;
}

.product h2 {
    margin-bottom: 1em;
}

.product ol li {
    margin-bottom: 1em;
}

.btn {
    display: block;
    margin: auto;
    padding: .5em 3em;
    border: none;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    box-shadow: -3px -3px 5px #fff, 3px 3px 5px rgba(0, 0, 0, 0.3);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 10vh;
    padding: 1em;
    background: rgba(197, 190, 190,0.5);
}

footer ul {
  
    display: flex;
    list-style: none;
}

footer ul li {
    margin: 0 1em;
}

footer ul li a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 768px)
 and (-webkit-min-device-pixel-ratio: 1){
    .nav ul {
       width: 60%;
       margin: auto;
       flex-direction: row;
    }

    .formSection h1{
        margin: 1em 0;
        font-size: 1.8em;
    }

    #video{
        height: 400px;
        padding: 15px;
    }

    #form > * {
        margin-bottom: 2em;
    }

    #email {
        padding: 1.3em;
        font-size: .8em;
    }

    #submit {
        padding: 1em;
        width: 20em;
        font-size: .8em;
        font-weight: 900;
    }

    #features {
        padding: 1em;
    }

    .product {
        width: 60%;
    }

    .desc > h2 {
        font-size: 1.6em;
    }

    .desc > p {
        font-size: 1.2em;
    }

    .level {
        font-size: 1.4em;
    }
}

@media screen and (min-device-width: 1024px) {
    .header {
        height: 25vh;
    }

    #video {
        height: 600px;
    }
    
    #pricing {
        display: flex;
        flex-wrap: wrap;
    }

    .product {
        width: 40%;
    }

}

@media  screen and (min-device-width: 1200px) and (min-device-width: 1440px){
    .header {
      
        padding-bottom: 10px;
        height: 10vh;
        flex-direction: row;
       
    }

    .logo {
        width: 50%;
        height: 100%;
       
    }

    #header-img{
        max-width: 60%;
        display: block;
        margin: auto;
        padding: 10px;
    }

    .nav {
        width: 50%;
        height: 100%;
       
    }

    .nav ul {
        margin: 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .nav ul li {
        font-size: 18px;
    }

    .formSection {
        margin-top: 4em;
    }

    #email {
        width: 25%;
        padding: .4em;
        box-shadow: 3px 3px 3px #bebebe,
                    -3px -3px 20px #ffffff;
    }

    #submit {
        padding: .3em 0;
        width: 250px;
        background-color: orange;
    }

    .grid {
        width: 70%;
        margin: auto;
       
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        "icon desc"
        "icon desc"
        "icon desc"
        ;
        align-items: center;
        
    }

    .icon {
        grid-area: icon;
        color: orange;
        display: block;
        
    }

    .desc {
        margin-top: 4em;
        grid-area: desc;
        font-size: 20px;
       
    }

    .desc > * {
        text-align: start;
    }

    .desc p {
        font-size: 18px;
    }

    #how-it-works{
        width: 50%;
        margin: 3em auto;
    }

    .product {
        width: 17em;
    }
   
}

